@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.container {
  width: 100%;
  margin: 20px 0;
}

.container .cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cards-container .card-item {
  flex: 0 0 25%;
  padding: 10px;
}

.cards-container .card-inner {
  background-color: #fff;
  height: 570px;
}

.cards-container .card-top {
  width: 100%;
  height: auto;
  padding: 10px;
  padding-bottom: 0;
}

.cards-container .card-bottom {
  padding: 15px;
  
}

.cards-container .title {
  text-transform: uppercase;
  text-align: center;
}

.cards-container .description {
  padding: 15px;
  margin: 10px 0;
  border: 1px dashed #ababab;
}

.cards-container .text {
  padding: 15px;
  margin: 10px 0;
  border: 1px dashed #ababab;
  text-align: justify;
  overflow-y: scroll;
}

@media (max-width: 1024px) {
  .cards-container .card-item {
    width: 33.3%;
  }
}

@media (max-width: 528px) {
  .cards-container .card-item {
    width: 100%;
  }
}
